<div class="page-box">
  <br>
  <h1>Welcome <%= tag.span current_user.full_name + '!', class: 'user-details' %></h1>
  <br>
  <% location = @weather.first %>
  <h2>Three Day Forecast for <%= tag.span "#{location.location_name}, #{location.location_state}", class: 'user-details' %> </h2>
  <section class="weather-forecast">
    <% @weather.each do |day| %>
    <div class="oneforecast">
      <section id="forecast-<%=@weather.find_index(day)%>">
        <p><%= day.date %></p>
        <%= image_tag day.icon %>
        <p> Low: <%= tag.span "#{day.min_temp}˚F", class: 'lo' %> |  High: <%= tag.span "#{day.max_temp}˚F", class: 'hi' %> </p>
        <p><%= day.description %></p>
      </section>
    </div>
    <% end %>
  </section>

  <section id='botd'>
  <br><br><br><br><br><br>
  <h1 class='user-details'>Featured Beer</h1>
  <div id="test">
    <img src="https://loremflickr.com/320/240/beer,beers,alcohol/all" > <br>
    <div id="sub_test">
    <p>Beer: <%= @beer_of_the_day.name %></p>
    <p>Style: <%= @beer_of_the_day.style %></p>
    <p>ABV: <%= @beer_of_the_day.abv %></p>
    </div>
    </div>
    <p><%= @beer_of_the_day.description %></p>
  </section>
</div>