<div class="page-box">
  <br>
  <h1>Welcome <%= tag.span current_user.full_name + '!', class: 'user-details' %></h1>
  <br>
  <% location = @weather.first %>
  <h2>Three Day Forecast for <%= tag.span "#{location.location_name}, #{location.location_state}", class: 'user-details' %> </h2>
  <section class="weather-forecast">
    <% @weather.each do |day| %>
    <div class="oneforecast">
      <section id="forecast-<%=@weather.find_index(day)%>">
        <p><%= day.date %></p>
        <%= image_tag day.icon %>
        <p> Low: <%= tag.span "#{day.min_temp}˚F", class: 'lo' %> |  High: <%= tag.span "#{day.max_temp}˚F", class: 'hi' %> </p>
        <p><%= day.description %></p>
      </section>
    </div>
    <% end %>
  </section>
</div>