<h1> New Trip</h1>
<%=form_with url: trips_path, method: :post do |f|%>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%=f.text_field :name, placeholder: "Enter a name for your trip"%>
  <%=f.text_field :location, placeholder: "Enter the five digit zipcode"%>
  <%=f.date_field :date, min: Time.now, max: 10.days.from_now %>
  <%= f.submit "Lets Go!"%>
<%end%>
