<!DOCTYPE html>
<html>
  <head>
    <title>DowndraftFrontend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <div id="footer">
      <%= image_tag('logo.png')%>
    </div>
  </body>
</html>
